@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Zpix';
        src: url('./assets/zpix.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'PressStart2P';
        src: url('./assets/PressStart2P-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }

    #root {
        width: 100%;
        height: 100%;
    }
}
